<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="crearProductoForm"(submit)="crearProducto()">

    <ion-item>
      <ion-label stacked>Título</ion-label>
      <ion-input formControlName="titulo" type="text" placeholder="Titulo del producto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Descripción</ion-label>
      <ion-textarea formControlName="descripcion" type="text" placeholder="Descripción del producto"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Precio</ion-label>
      <ion-input formControlName="precio" type="number" placeholder="$"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Descuento</ion-label>
      <ion-input formControlName="descuento" type="number" placeholder="$"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Imagen</ion-label>
      <ion-input formControlName="imagen" type="url"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!crearProductoForm.valid">
      Agregar producto
    </ion-button>

  </form>

</ion-content>
